### Solution (1)
#### Database: 
* A database is organized collection of structured data or informations, so that it can be easily acessed and managed.
* A database is handle or controlled by DBMS(database management system).
* The main purpose of the database is to operate a large amount of information by storing, retrieving, and managing data.

#### Difference between sql and nosql:
##### SQL:
* RDMS(Relational Database Management System).
* Fixed and predefined schema.
* Best for complex queries.
* Ex:- Mysql, Oracle, PostgresSql
##### NOSQL:
* Non relational or distributed system
* Have a dynamic schema.
* Not so good for complex queries.
* Ex:- MongoDB, Hbase, Cassandra

### solution (2)
#### What is DDL?
* A data defination language (DDL) is computer langauge used to create and modify the structure of database object in the database.
* DDL Queries are:
    1. CREATE
    2. DROP
    3. ALTER
    4. TRUNCATE

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mycursor.execute("CREATE TABLE if not exists test.test_table(id INT, name VARCHAR(50))")
# mycursor.execute("ALTER TABLE test.test_table ADD email VARCHAR(30)")
mycursor.execute("INSERT INTO test.test_table values(1,'Anirudhra','ani@gmail.com')")
mycursor.execute("TRUNCATE TABLE test.test_table")
mycursor.execute("DROP TABLE test.test_table")
mydb.commit()
mycursor.close()

True

### Solution (3)

#### What is DML?
* A Data Manipulation Language which is used to manipulate data itself.
* DML Queries are:
    1. INSERT
    2. UPDATE
    3. DELETE

In [31]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mycursor.execute("CREATE TABLE if not exists test.test_table(id INT, name VARCHAR(50),email VARCHAR(20))")
mycursor.execute("INSERT INTO test.test_table values(1,'Anirudhra','ani@gmail.com')")
mycursor.execute("INSERT INTO test.test_table values(2,'yash','yash@gmail.com')")
mycursor.execute("INSERT INTO test.test_table values(2,'ankit','ankit@gmail.com')")
mycursor.execute("SELECT * FROM test.test_table")
for i in mycursor.fetchall():
    print(i)
print("----Update and delete-----")
mycursor.execute("UPDATE test.test_table SET id = 3 WHERE name = 'ankit'")
mycursor.execute("DELETE FROM test.test_table WHERE id = 2")
mydb.commit()
mycursor.execute("SELECT * FROM test.test_table")
for i in mycursor.fetchall():
    print(i)

(1, 'Anirudhra', 'ani@gmail.com')
(2, 'yash', 'yash@gmail.com')
(2, 'ankit', 'ankit@gmail.com')
----Update and delete-----
(1, 'Anirudhra', 'ani@gmail.com')
(3, 'ankit', 'ankit@gmail.com')

### Solution (4)

#### What is DQL?
* A Data Query Language (DQL) used to fetch data from databases.
#### DQL Queries:
* SELECT

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM test.test_table")
for data in mycursor.fetchall():
    print(data)
mycursor.close()

(1, 'Anirudhra', 'ani@gmail.com')
(3, 'ankit', 'ankit@gmail.com')

True

### Solution (5)

#### Primary key:
* A primary key uniquely identifies each record in a table.
* primary keys must contains unique values.
* A table can have only one primary key.
* A primary keys consist of single or multiple column (fields).

#### Foreign Key
* A foreign key is a field or collection of fields that refers to primary key in another table.
* Table with foreign key called as child table or with primary key called as parent table.

### Solution (6)
#### Cursor():
* A object used to make connections betweeen database and sql query act as middleware.
#### Execute():
* This method executes given database operations.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "Localhost",
    user = "root",
    password = "password"
)
print(mydb)

### Solution (7)
1. FROM
    * Table are join to get base data.
2. WHERE
    * The base data is filtered.
3. GROUP BY
    * The filtered base data is grouped.
4. HAVING
    * The grouped base data is filtered.
5. SELECT
    * The final data is returned.
6. ORDER BY
    * The final data is sorted.
7. LIMIT
    * The returned data is limited to row count.